---
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";
import Pagination from "../components/Pagination.astro";
import type { GetStaticPathsOptions } from "astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const cats = await getBlogs({ limit: 1000 });
  return paginate(cats.contents, { pageSize: 3 });
};

const {
  page: {
    data,
    url: { prev, next },
  },
} = Astro.props;

//目次
const response = await getBlogs({});
const perPage = 3;
const totalPage = Math.ceil(response.totalCount / perPage);
const paths = Array.from({ length: totalPage }).map((_, i) => ({
  params: { page: String(i + 1) },
}));

---

<Layout title="">
  <main>
    <h1>Minolog</h1>

    <ul>
      {
        data.map((blog: any) => (
          <li class="pageList">
            <a class="pageList__link" href={blog.id}>
              {blog.title}
            </a>
          </li>
        ))
      }
    </ul>

    <ul class="contentsList">
      {
        paths.map((path) => (
          <li>
            <a class="contentsLink" href={path.params.page === "1" ? "/" : path.params.page}>{path.params.page}</a>
          </li>
        ))
      }
    </ul>

    <Pagination prev={prev} next={next} />

  </main>
</Layout>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #c88e8e;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 70px;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    background-color: #dbdbdb;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  h1 {
    font-size: 2.5em;
    color: #334257;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;
  }

  .pageList__link {
    color: #6884bd;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    color: #25603a;
    text-decoration: underline;
  }
  .contentsList{
    display: flex;
    gap: 5px;
  }

  .contentsLink{
    color: #c88e8e;
  }
</style>
