---
import Layout from "../layouts/Layout.astro";
import { getBlogs } from "../libs/microcms";
import type { GetStaticPathsOptions } from "astro";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const cats = await getBlogs({ limit: 1000 });
  return paginate(cats.contents, { pageSize: 2 });
};
const { page } = Astro.props;
---

<Layout title={`page ${page.currentPage} | Dear Cats`}>
  <main>
    <h1>Minolog</h1>
    <ul>
      {
        page.data.map((cat) => {
          return (
            <li>
              <a href="">
                <img src={cat.url} alt="" />
                {cat.title}
              </a>
            </li>
          );
        })
      }
    </ul>

    <nav>
      {/* page.currentPageで現在ページ、page.lastPageで総ページ数を表示 */}
      <p>page {page.currentPage}/{page.lastPage}</p>
      <ul>
        {/* page.url.prevがある場合は前ページへのリンクを表示 */}
        {
          page.url.prev && (
            <li>
              <a href={page.url.prev}>PREV</a>
            </li>
          )
        }
        {/* page.url.nextがある場合は次ページへのリンクを表示 */}
        {
          page.url.next && (
            <li>
              <a href={page.url.next}>NEXT</a>
            </li>
          )
        }
      </ul>
    </nav>
  </main>
</Layout>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #c88e8e;
    line-height: 1.6;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 70px;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    background-color: #dbdbdb;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  h1 {
    font-size: 2.5em;
    color: #334257;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: #6884bd;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    color: #25603a;
    text-decoration: underline;
  }
</style>
