---
import Layout from "../../../layouts/Layout.astro";
import { getBlogs, getBlogDetail } from "../../../libs/microcms";
import type { GetStaticPathsOptions } from "astro"

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const cats = await getBlogs({ limit: 1000 });
  return paginate(cats.contents, { pageSize: 3 });
};
const { page } = Astro.props;
// console.log(page)
---

<Layout title={`page ${page.currentPage} | Dear Cats`}>
  <main>
    <ul>
      {
        page.data.map((cat) => {
          return (
            <li>
              <a href="">
                <img src={cat.url} alt="" />
                {cat.title}
              </a>
            </li>
          );
        })
      }
    </ul>

    <nav>
      {/* page.currentPageで現在ページ、page.lastPageで総ページ数を表示 */}
      <p>page {page.currentPage}/{page.lastPage}</p>
      <ul>
        {/* page.url.prevがある場合は前ページへのリンクを表示 */}
        {
          page.url.prev && (
            <li>
              <a href={page.url.prev}>PREV</a>
            </li>
          )
        }
        {/* page.url.nextがある場合は次ページへのリンクを表示 */}
        {
          page.url.next && (
            <li>
              <a href={page.url.next}>NEXT</a>
            </li>
          )
        }
      </ul>
    </nav>
  </main>
</Layout>
